# Visual Studio
.vs/
bin/
obj/
*.user
*.suo
*.userprefs
*.sln.docstates

# VS Code
.vscode/

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
build/
bin/
obj/
[Ll]og/

# NuGet
*.nupkg
*.snupkg
*.nuspec
*.stub
*.org
*.crt
*.tmp

# App specific
config/user_*.json
logs/
